html { 
    background: url(back.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

.name {
    background-color: #0000006d;
    margin-top: 220px;
    border-radius: 10px;
    font-size: 40px;
}

.sub{
    border-radius: 10px;
    position: fixed;
    font-size: large;
    width:99%;
}

.sub a{
    background-color: #0000006d;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding-left: 5px;
}
.sub a:hover{
    color: #fffdd0;
}

.social{
    background-color: #0000006d;
    border-radius: 10px;
    position: fixed;
    bottom: 15px;
    width:99%;
}

.social a{
    background-color: #0000006d;
    color: gainsboro;
    padding-left: 5px;
}
.social a:hover{
    background-color: #0000006d;
    color: #fffdd0;
}

.social1{
    border-radius: 10px;
    font-size: 30px;
    background-color: #0000006d;
    position: fixed;
    padding: 14px ;
    top  : 15px;
    width: 99%;
}

.social1 a{
  color: gainsboro;
  padding-left: 5px;
}
.social a:hover{

  color: #fffdd0;
}